<!DOCTYPE html>
<html> xmlns:th="http://www."thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1">
		<title>Insert title here</title>
	</head>
	<body>
		<h1>Employee List</h1>
		<div>
			<table border="1">
				<tr>
					<th>Id</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Email</th>
				<tr/>
				<tr th:each="employee : ${employees}">
					<td th:utext= "${employee.emp_id}">...</td>
					<td th:utext= "${employee.first_name}">...</td>
					<td th:utext="${employee.last_name}">...</td>
					<td th:utext= "${employee.email_address}">...</td>
				</tr>
			</table>
		</div>

	</body>
</html>

