<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1">
		<title>Employee List</title>
	</head>
	<body>
		<h1>Employee List</h1>
		<div>
			<nobr>
				<a th:href="@{/employees/add}">Add Employee</a>
				<a th:href="@{/}">Back to Index</a>
				<a th:href="@{/employees_survey_answers}">Employees Surveys Answers</a>
			</nobr>
		</div>
		<br/><br/>
		<div>
			<table border="1">
				<tr>
					<th>Id</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Email</th>
					<th>Hire Date</th>
					
					
					
					
				</tr>
				<tr th:each="employee : ${employees}">
					<td th:utext="${employee.id}">...</td>
					<td th:utext= "${employee.first_name}">...</td>
					<td th:utext="${employee.last_name}">...</td>
					<td th:utext= "${employee.email_address}">...</td>
					<td th:utext="${employee.hire_date}">...</td>
					
				</tr>	
							</table>

			
		</div>

	</body>
</html>

